<div class="row map-wrapper">
  <div class="col-10 mx-auto mb-2 form-inline">
    <input id="address" class="form-control mb-2" type="textbox" placeholder="住所や地名を入力">
    <input id="search-btn" type="button" class="btn btn-success btn-sm ml-md-2 mb-2" value="検索">
    <span class="ml-3"> ※ 住所や地名から経路検索ができます</span>
  </div>
  <div class="col-10 mx-auto show-map">
    <div id="map"></div>
  </div>
  <div class="col-10 mx-auto mb-5">
    <i class="fas fa-car"></i>
    <span id="route-time" class="mr-3 h5"></span>
    <span id="route-distance" class="h5"></span>
  </div>
</div>
