<div class="row box">
  <div class="col-12 bgImg src1"></div>
  <div class="col-12 bgImg src2"></div>
  <div class="col-12 bgImg src3"></div>
  <div class="col-12 bgImg src4"></div>
  <div>あなたの撮った写真一枚から、旅が始まる</div>
  <div>想い出をここに</div>
</div>
