<div class="row box top">
  <div class="col-12 col-sm-5 bgImg src1"></div>
  <div class="col-12 col-sm-5 bgImg src2"></div>
  <div class="col-12 col-sm-5 bgImg src3"></div>
  <div class="col-12 col-sm-5 bgImg src4"></div>
  <div class="col-12 col-sm-5 offset-sm-5 top-message-box">
    <h1 class="top-message">あなたの撮った一枚から、旅が始まる</h1>
    <h3 class="mt-5 top-message">想い出をここに</h3>
    <div class="top-logo mt-4"></div>
  </div>
</div>

<%= render 'login_buttons' %>
