<%= link_to admin_post_path(post.id) do %>
  <div class="post-list mb-5">
    <div class="p-3 text-center">
      <% post.images.each do |image| %>
        <%= image_tag get_image(image, 200, 200), class: "mb-2" %>
      <% end %>
    </div>
    <div class="p-3"><%= post.body %></div>
  </div>
<% end %>