@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// 共通
body{
  background-color: #FFF;
  font-family:'メイリオ', 'Yu Gothic', '游ゴシック', YuGothic, 'Meiryo', sans-serif;
  color: #555;
}

ul{
  padding-inline-start: 0 !important;
}

li{
  list-style: none;
}

#map{
 width: 100%;
 height: 90%;
}

.header{
  height: 80px;
  align-items: center;
  border-bottom: solid 2px #FFAD90;
}

.logo{
  color: #555;
  margin-bottom: 50px;
}
.main-top{
  padding-top: 50px;
  padding-bottom: 100px;
}

.main-bottom{
  padding-bottom: 200px;
}

.btn{
  background-color: #FFAD90;
  border-radius: 30px;
  border: solid 1px #FF773E;
  color: #FFF;
  padding: 10px 32px;
}
.btn:hover{
  background-color: #FF8856;
  color: #FFF;
}
.btn-success{
  background-color: #7ACC7D;
  border-color: #7ACC7D;
}
.btn-success:hover{
  background-color: #28a745;
}
.btn-danger{
  background-color: #FA9996;
  border-color: #FA9996;
}
.btn-danger:hover{
  background-color: red;
}
.btn-primary{
  background-color: #3298dc;
  border-color: #3298dc;
}
.btn-primary:hover{
  background-color: #007bff;
}

.form-label{
  font-size: 0.75rem;
}

.border-box{
  border: solid 1px #FFAD90;
  border-radius: 5px;
}

.pagination{
  justify-content: center;
  .active{
    .page-link{
      background-color: #FFAD90;
      border-color: #FF773E;
    }
  }
  .page-item a{
    color: #FF773E;
  }
}

.notice{
  position: absolute;
  width: 100%;
  background-color: #CCFFFF;
}

.error-massege{
  background-color: #FA9996;
}

// top画面
.box {
  position: relative;
  overflow: hidden;
  height: 95vh;
}

/*  背景の指定  */
.box .bgImg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  animation: bgAnime 28s infinite;   /* 4画像 × 各5s = 20s */
  padding: 0;
  background-size: cover;
  background-position: bottom;
}
/* 背景画像のアニメーションを実行 */
.box .src1 {
  background-image : url('/images/bg1.jpg');   /* 背景の画像を指定 */
}
.box .src2 {
  background-image : url('/images/bg2.jpg');   /* 背景の画像を指定 */
  animation-delay  : 7s;
}
.box .src3 {
  background-image : url('/images/bg3.jpg');   /* 背景の画像を指定 */
  animation-delay  : 14s;
}
.box .src4 {
  background-image : url('/images/bg4.jpg');   /* 背景の画像を指定 */
  animation-delay  : 21s;
}

@keyframes bgAnime {
  0% { opacity: 0; }
  10% { opacity: 1; }
  25% { opacity: 1; }
  38% { opacity: 0; }
100% { opacity: 0; }
}

.top-message{
  padding: 10px;
}
.top-btn{
  display: none;
}

.top{
  padding-top: 150px;
}

.top-massege{
  font-weight: bold;
}

// サイドバー
.open{
  display: none;
}

.menu-btn {
display: none;
}

.sidebar{
  background-color: #FFAD90;
  padding-right: 0;
  padding-left: 0;
  min-height: 100vh;
  nav{
    position: sticky;
    top: 0;
  }
  li:nth-child(1){
    padding-top: 150px;
  }
  .btn{
    width: 200px;
    background-color: #FFF;
    color: #555;
    font-size: 1.25rem;
    border: solid 2px #FF773E;
    border-radius: 30px;
    box-shadow: 2px 2px 4px #555;
  }
  .btn:hover{
    background-color: #BBB;
  }

  .guest-login-btn{
    font-size: 0.85rem;
    padding: 10px 24px;
  }

  .form-control{
    border-radius: 20px;
  }
  .search-btn{
    background-color: #FFF;
    border-radius: 20px;
    border: solid 1.5px #90ee90;
    color: #90ee90;
    font-size: 1.25rem;
  }
  input{
    display: inline-block;
    width: auto;
  }
}

.logout-sidebar{
  li:nth-child(1){
    padding-top: 200px;
  }
}

// ログインフォーム
.login-form{
  .btn{
    background-color: #FFAD90;
    border: solid 1px #FF773E;
  }
}

// public/user
.profile-img{
  border-radius: 50%;
  border: 0.5px solid #FFAD90;
}
.no-border:hover{
  text-decoration: none;
}

.user-check-top{
  padding-top: 150px;
  padding-bottom: 100px;
  padding-bottom: 100px;
}

.show-favorite-box{

}


// public/post
.post-introduction{
  background: #FFF;
  font-size: 1.25rem;
  border: solid 1px #555;
  border-radius: 5px;
}

.post-main-top{
  padding-top: 50px;
  padding-bottom: 0px;
}

.show-map{
  width: 600px;
  height: 400px;
}

.comment-wrapper{
  border-top: 1px solid #FFAD90;
}

.map-wrapper .btn{
  border-radius: 3px;
  padding: 6px 20px;
}

.favorite-btn{
  font-size: 2rem;
  color: #FFAD90;
}

.user-list,.post-list{
  border-bottom: 1px solid #FFAD90;
  a{
  color: #555;
  }
}
.user-list:hover,.post-list:hover{
  background-color: #FFDBC9;
}

.post-tag{
  a{
    color: #007bff;
  }
}

.repost-btn{
  font-size: 2rem;
}

.repost-true{
  color: #5BFF7F;;
}
.repost-false{
  color: #555;
}

.limit-post{
  color: red;
  font-size: 1.25rem;
}

// public/list
.list-btn{
  border-radius: 3px;
  padding: 6px 20px;
}

// public/diary
.diary-box{
  border-radius: 5px;
  border: solid 1px #FFAD90;
  h2{
    border-bottom: solid 0.5px #FFAD90;
  }
}

// public/rank
.rank-form-img{
  min-height: 232px;
}
.rank-form{
  width: 200px;
  font-size: 0.85rem;
}

// admin
.user-status{
  height: 100px;
}

.user-status{
  font-size: 1.25rem;
}

.user-false, .post-false{
  color: red;
}
.user-true{
  color: #5BFF7F;
}


@media screen and (max-width: 992px){
  main {
    width: 100%;
  }
  .box{
    height: 80vh;
  }
  .top-btn{
    display: block;
  }
  .guest-login-btn{
    font-size: 0.85rem;
    padding: 10px 24px;
  }
  // サイドバー
  .open{
    display: block;
  }
  .open {
    position: fixed;
    z-index: 100;
    left: 30px;
    top: 20px;
    font-size: 2rem;
    padding: 0 5px;
    color: #BBB;
  }

  .sidebar{
    position: fixed;
    z-index: 300;
    left: -250px;
    height: 100%;
    min-height: 100vh;
    width: 250px;
    background-color: #FFAD90;
    transition: all 0.2s;
    nav{
      position: fixed;
      top: 0;
      width: 250px;
    }
    li:nth-child(1){
      padding-top: 100px;
    }
  }

  .logout-sidebar{
    li:nth-child(1){
      padding-top: 200px;
    }
  }

  input[type="checkbox"]:checked ~ .sidebar {
    left: 0px;
  }
  input[type="checkbox"]:checked ~ .back {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(3,3,3,0.5);
    z-index: 200;
  }
}

@media screen and (max-width: 540px){
  .box {
    height: 60vh;
  }
  .top-message-box{
    background-color: rgba(3,3,3,0.3);
  }
  .top-message{
    color: #FFF;
  }
  .login-form{
    border: none;
  }
  .post-show-img{
    width: 350px;
  }
  .show-map{
    width: 100vw;
    height: 400px;
  }
}