@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body{
  background-color: #FFF;
  font-family:'メイリオ', 'Yu Gothic', '游ゴシック', YuGothic, 'Meiryo', sans-serif;
  color: #555;
}

ul{
  padding-inline-start: 0 !important;
}

li{
  list-style: none;
}

.header{
  height: 80px;
  align-items: center;
  // border-bottom: solid 2px #FF773E;
  border-bottom: solid 2px #FFAD90;
}

.logo{
  color: #555;
  margin-bottom: 50px;
}

.main-top{
  padding-top: 50px;
  padding-bottom: 100px;
}

.btn{
  border-radius: 30px;
  padding: 10px 32px;
}

.form-label{
  font-size: 0.75rem;
}

// サイドバー
.open{
  display: none;
}

input[type="checkbox"] {
display: none;
}

.sidebar{
  background-color: #FFAD90;
  padding-right: 0;
  padding-left: 0;
  min-height: 100vh;
  nav{
    position: sticky;
    top: 0;
  }
  li:nth-child(1){
    padding-top: 150px;
  }
  .btn{
    width: 200px;
    background-color: #FFF;
    color: #555;
    font-size: 1.25rem;
    border: solid 2px #FF773E;
    border-radius: 30px;
    box-shadow: 2px 2px 4px #555;
  }
  .btn:hover{
    background-color: #BBB;
  }
  .form-control{
    border-radius: 20px;
  }
  .search-btn{
    background-color: #FFF;
    border-radius: 20px;
    border: solid 1.5px #90ee90;
    color: #90ee90;
    font-size: 1.25rem;
  }
  input{
    display: inline-block;
    width: auto;
  }
}

// ログインフォーム
.login-form{
  border: solid 1px #555;
  border-radius: 5px;
}

// public/user
.profile-img{
  border-radius: 50%;
}
.no-border:hover{
  text-decoration: none;
}

.user-check-top{
  padding-top: 150px;
  padding-bottom: 100p20;
}


// public/post
.post-introduction{
  background: #FFF;
  font-size: 1.25rem;
  border: solid 1px #555;
  border-radius: 5px;
}

.post-btn{
  position: absolute;
  right: -50px;
}

.comment-wrapper{
  border-top: 1px solid #555;
  .comment-btn{
    padding: 8px 16px;
  }

  .comment-delete-btn{
    float: right;
  }
}

.favorite-btn{
  font-size: 2rem;
  color: #FFAD90;
}

.user-list,.post-list{
  border-bottom: 1px solid #FFAD90;
  a{
  color: #555;
  }
}
.user-list:hover,.post-list:hover{
  background-color: #FFDBC9;
}
// .post-list:hover{
//   background-color: #FFDBC9;
// }

// admin
.user-status{
  height: 100px;
}

.user-status{
  font-size: 1.25rem;
}

.user-false{
  color: red;
}
.user-true{
  color: #93FFAB;
}

@media screen and (max-width: 992px){
  main {
    width: 100%;
  }

  // サイドバー
  .open{
    display: block;
  }
  .open {
    position: fixed;
    z-index: 100;
    left: 30px;
    top: 20px;
    font-size: 2rem;
    padding: 0 5px;
    color: #BBB;
  }

  .sidebar{
    position: fixed;
    z-index: 300;
    left: -250px;
    height: 100%;
    min-height: 100vh;
    width: 250px;
    background-color: #FFAD90;
    transition: all 0.2s;
    nav{
      position: fixed;
      top: 0;
    }
      li:nth-child(1){
      padding-top: 100px;
    }
  }

  input[type="checkbox"]:checked ~ .sidebar {
    left: 0px;
  }
  input[type="checkbox"]:checked ~ .back {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(3,3,3,0.5);
    z-index: 200;
  }

  // public/post
  .post-btn{
    position: static;
  }
}

@media screen and (max-width: 575px){
  .login-form{
    border: none;
  }
  .post-show-img{
    width: 350px;
  }
}