<div class="row">
  <div class="col-12 text-center my-2">
    <% if post.diary.present? %>
      <%= link_to "Diary #{post.diary.title}", post_diary_path(post.id, @diary.id) %>
    <% elsif user == current_user %>
      <%= link_to "Diaryを作成する", new_post_diary_path(post.id) %>
    <% else %>
      この投稿にはDiaryがまだありません
    <% end %>
  </div>
</div>
