<div class="row">
  <div class="col-12 col-md-5 offset-md-1 text-center mb-3">
    <%= link_to "編集する", edit_post_diary_path(post.id, diary.id), class: "btn btn-success" %>
  </div>
  <div class="col-12 col-md-5 text-center">
    <%= link_to "削除する", post_diary_path(post.id, diary.id), method: :delete, data: { confirm: "Diary '#{diary.title}' を削除してよろしいですか？" }, class: "btn btn-danger" %>
  </div>
</div>