<div class="row main-top">
  <div class="col-11 col-sm-10 mx-auto">
    <%= form_with model: [@post, @diary] do |f| %>

    <%= render 'form', f: f %>

      <div class="text-center">
        <%= f.submit "保存する", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>