<div class="row main-top">
  <div class="col-11 col-md-10 mx-auto">
    <%= render 'post_link', post: @post %>

    <%= form_with model: [@post, @diary] do |f| %>

    <%= render 'form', f: f %>

      <div class="text-center">
        <%= f.submit "投稿する", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
