<div class="row py-4">
  <div class="col-12 col-md-6 col-xl-5 text-center">
    <%= link_to admin_user_path(user) do %>
      <%= image_tag user.get_profile_image(150, 150), class: "profile-img" %>
    <% end %>
    <div class="py-3"><%= user.name %></div>
  </div>
  <div class="col-12 col-md-6 col-xl-7">
    <% if user.profile.blank? %>
      プロフィールを設定していません
    <% else %>
      <%= user.profile %>
    <% end %>
  </div >
</div>