<div class="row main-top">
  <div class="col-12 col-lg-8 mx-lg-auto">
    <%= render 'info', user: @user %>

    <div class="row">
      <div class="col-12 text-center">
        <%= link_to "アカウントをブロックする", admin_user_path(@user.id), method: :patch, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>