<div class="col-4">
  <strong><%= @user.followings.count %> </strong><%= link_to "フォロー中", user_followings_path(@user.id) %>
</div>
<div class="col-4">
  <strong><%= @user.followers.count %> </strong><%= link_to "フォロワー", user_followers_path(@user.id) %>
</div>