<%= render 'shared/error', model: @user %>

<div class="row main-top">
  <div class="col-10 offset-1">
    <%= render 'form', user: @user %>
    <div class="row">
      <div class="col-12 col-sm-10 text-center text-sm-right offset-sm-1 mt-5 mt-sm-0">
        <%= link_to "退会する", user_check_path, class: "btn btn-danger btn-sm"%>
      </div>
    </div>
  </div>
</div>