<%= render 'shared/error', model: @user %>

<div class="row main-top">
  <div class="col-10 offset-1">
    <%= render 'form', user: @user %>
    <div class="row">
      <div class="col text-right mr-5">
        <%= link_to "退会する", user_check_path, class: "btn btn-danger btn-sm"%>
      </div>
    </div>

    <div class="row">
      ランキングがきます
    </div>
  </div>
</div>