<aside class="sidebar logout-sidebar col-lg-3 text-center">
  <nav>
    <ul>
      <li>
        <%= link_to "新規登録", new_user_registration_path, class: "btn mb-5" %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path, class: "btn" %>
      </li>
    </ul>
  </nav>
</aside>